* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

img {
    background-color: black;
    position: absolute;
    top: 10px;
    left: 100px;
    z-index: 1;
    padding: 1%;
    border-radius: 500px;
    position: fixed;
}

#main-header {
   min-height: 100vh;
}

#main-header video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
}

.text {
    background-color: black;
    opacity: 60%;
    box-shadow: 0 0 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.text p {
    color: white;
    padding: 1%;
    max-width: 1000px;
    margin: auto;
    font-size: 1.2em;
    line-height: 1.4em;
}

a {
    color: white;
    font-weight: 600;
}


footer {   
    background-color: white;
    opacity: 60%;
    width: 100%;
    height: 70px;
    align-items: center;
}

footer p {
    text-align: center;
    padding-top: 10px;
    font-weight: bolder;
}