* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}



.container {  
    width: 100%;  
    position: relative;
   min-height: 100vh;
}

header {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    height: 150px;
}

header img {
    width: 100%;
    max-width: 300px;
    padding-left: 1%;
    padding-top: 2%;
    

}

main {
    width: 100%;
    margin: auto;
}


main h1 {
    color: black;
    font-size: 3rem;
    text-align: center;
}

main video {
    width: 100%;
}
section {
    width: 45%;
    margin: auto;
}

@media screen and (max-width: 800px) {
    section {
        width: 90%;
        margin: auto;
    }
} 

section p {
    font-size: 1.4rem;
    padding-top: 10px;
    padding-bottom: 50px;
}

footer {   
    width: 100%;
    max-width: 1920px;
    position: absolute;
    bottom: 0;
    height: 100px;
    align-items: center;
}

footer p {
    text-align: center;
    padding-top: 20px;
}